@model Emp.Model.ViewModels.BankDetailsVM

<div class="card box-shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Edit BankDetails</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">

        <form method="post">
            <input asp-for="BankDetails.Id" hidden />

            <div class="border p-3 mt-4">

                <div class="row pb-2">
                    <h2 class="text-primary">Edit BankDetails</h2>
                    <hr />
                </div>
                @*<div asp-validation-summary="All"></div>*@

                <div class="form-floating py-2 col-12">
                    <input asp-for="BankDetails.AccountNo" class="form-control border-0 shadow" />
                    <label asp-for="BankDetails.AccountNo" class="ms-2"></label>
                    <span asp-validation-for="BankDetails.AccountNo" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="BankDetails.IFSCCode" class="form-control border-0 shadow" />
                    <label asp-for="BankDetails.IFSCCode" class="ms-2"></label>
                    <span asp-validation-for="BankDetails.IFSCCode" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="BankDetails.Branch" class="form-control border-0 shadow" />
                    <label asp-for="BankDetails.Branch" class="ms-2"></label>
                    <span asp-validation-for="BankDetails.Branch" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <select asp-for="@Model.BankDetails.EmployeeId" asp-items="@Model.EmpList" class="form-select border-0 shadow">
                        <option disabled selected>--select Employee--</option>
                    </select>
                    <label asp-for="BankDetails.EmployeeId" class="ms-2"></label>
                    <span asp-validation-for="BankDetails.EmployeeId" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Update</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="BankDetails" asp-action="Index" class="btn btn-outline-secondary form-control">
                            Back to List
                        </a>
                    </div>
                </div>

            </div>
        </form>

    </div>
</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
